<footer style="width: 100%;text-align:center;font-size: medium;font-weigth: bold" >
    <div>
        <a href="https://www.linkedin.com/in/emiliorosat/" target="_blank" rel="noopener noreferrer">
            <img alt="LinkedIn" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white"/>
        </a>
        <a style="margin: .5rem;" href="https://twitter.com/emiliort" target="_blank" rel="noopener noreferrer">
            <img alt="Twitter" src="https://img.shields.io/badge/twitter-%231DA1F2.svg?&style=for-the-badge&logo=Twitter&logoColor=white"/>
        </a>
        <!--a href="https://www.youtube.com/channel/UCeQDXaNSOVaeAQEPNuUNbFQ" target="_blank" rel="noopener noreferrer">
            <img alt="YouTube" src="https://img.shields.io/badge/youtube-%23FF0000.svg?style=for-the-badge&logo=YouTube&logoColor=white"/>
        </a-->
        <a href="https://github.com/emiliorosat" target="_blank" rel="noopener noreferrer">
            <img alt="GitHub" src="https://img.shields.io/badge/github-%23FFFFFF.svg?&style=for-the-badge&logo=github&logoColor=black"/>
        </a>
    </div>
    <p class="mt-3">
        <small> 
            &copy; {{site.title}} | {{ site.time | date: '%Y' }}
        </small>
      </p>
</footer>


