<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid justify-content-end">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active" aria-current="page" ><a href="/" class="nav-link" >Home</a></li>
        <li class="nav-item"><a href="/about" class="nav-link" >About</a></li>
        <li class="nav-item"><a href="/blog" class="nav-link" >Blog</a></li>
        <li class="nav-item"><a href="https://blog.emiliort.com" class="nav-link" >Blog 2</a></li>
      </ul>
     </div>
  </div>
</nav>
