:root {
    --bg-page: #22222A; 
    --fn-color: rgb(238, 238, 238);
    --fn-color-hover: rgb(178, 167, 202);
}

* {
    margin: unset;
    padding: unset;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    color-scheme: dark;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-page);
    color: var(--fn-color);
    text-align: justify;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        display: none;
}

      ::-webkit-scrollbar-thumb {
        background-color: #999;
        border-radius: 20px;
}

::-webkit-scrollbar-track {
        background: #555;
}
        
td > img {
    margin-bottom: .5em !important;
    margin-right: .5em !important;
    vertical-align: baseline !important;
        }

main {
    min-height: 100vmin;
    max-width: 960px;
}
 
.hello-content {
    position: relative;
}

.hand-shake {
    position: absolute;
    animation: shake .5s infinite;
    font-size: 32px;
    top: 25%;
}


.minHeight60 {
    min-height: 60vmin;
}

.minHeight80 {
    min-height: 80vmin;
}
        
.bg-dark {
  background-color: var(--bg-page) !important;
}

header {
    position: sticky;
    top: 0px;
    display: flex;
    background-color: rgba(0, 0, 0, .3);
}

nav {
    padding: 12px 24px;
    /*border: 1px solid white; */
    width: 600px;
    margin: 0 auto;
    font-weight: 540;
}

.menu {
    display: flex;
    list-style: none;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.menu-item a {
    font-weight: 600;
    color: var(--fn-color);
}


.link-selected,
.menu-item a:hover {
    color: var(--fn-color-hover);
    text-decoration: underline !important;
    text-underline-offset: 5px;
}


section {
    height: 100vmin;
}

#hello {
    margin-top: -100px;
    min-height: 100vmin;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

article {
    max-width: 600px;
    text-align: justify;
}

.contact-address {
    display: flex;
    gap: 16px;
}


footer {
    position: sticky;
    margin-top: -60px;
}



