---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Emilio Rosa'>

    <section id="hello">
        <div class="flex-center" >
            <div class="hello-content">
                <div class="hand-shake">👋</div>
                <p class="w-100 fs-1 text-center mt-5 mb-0">
                Hello there! 
                <p>
                <p class="w-100 fs-1 text-center mt-0 mb-2">
                I'm Emilio Rosa
                </p>
                <p class="w-100 text-center mb-5" >
                Software developer | Electronic engineer
                </p>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="flex-center">
            <article>
                <h3>About me</h3>
                <p>
                    I'm software engineer based in Santo Domingo with 5 years of experience
                    in the software industry. My focus area for the past few years has been front-end
                    development with Angular and back-end development with C#, but i'm also skilled in back-end
                    development with Node and Python and front-end development with React.
                </p>
            </article>
        </div>
    </section>
    <section id="contact">
        <div class="flex-center">
            <div>
                <h3>Give me a touch</h3>
                <div class="contact-address">
                    <address>
                        <a href="https://www.linkedin.com/in/emiliorosat/" target="_blank" rel="noopener noreferrer">
                            <img alt="LinkedIn" src="https://img.shields.io/badge/--%230077B5.svg?&style=flat&logo=linkedin&logoColor=white"/>
                        </a>
                    </address>
                    <address>
                        <a style="margin: .5rem;" href="https://twitter.com/emiliort" target="_blank" rel="noopener noreferrer">
                            <img alt="Twitter" src="https://img.shields.io/twitter/url?url=https%3A%2F%2Ftwitter.com%2F&style=flat-square&logo=X&logoColor=%23ffffff&label=%20&color=%23000000"/>
                        </a>
                    </address>
                    <address>
                        <a href="https://www.youtube.com/channel/UCeQDXaNSOVaeAQEPNuUNbFQ" target="_blank" rel="noopener noreferrer">
                            <img alt="YouTube" src="https://img.shields.io/badge/--%23FF0000.svg?style=flat&logo=YouTube&logoColor=white"/>
                        </a>
                    </address>
                    <address>
                        <a href="https://github.com/emiliorosat" target="_blank" rel="noopener noreferrer">
                            <img alt="GitHub" src="https://img.shields.io/badge/--%23FFFFFF.svg?&style=flat&logo=github&logoColor=black"/>
                        </a>
                    </address>
                </div>
            </div>
        </div>
    </section>

</Layout>